doctype html
html
  head
    meta(charset='utf-8')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='yes', name='apple-touch-fullscreen')
    meta(content='telephone=no,email=no', name='format-detection')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no')
    meta(name='keywords', content='')
    meta(name='description', content='')
    title 2015 Osports全新升级
    script(src="../bower_components/PACE/pace.min.js")
    script(src="../bower_components/viewport-units-buggyfill/viewport-units-buggyfill.min.js")
    script.
      window.viewportUnitsBuggyfill.init();
    link(rel='stylesheet', type='text/css', href='../css/main.css')
  body

    #wrap

      //- p1
      .page#p1
        .bg: img(src="../img/bg.jpg")
        .logo
          .logo-ost1.hide
            .logo-o: img(src="../img/logo-o.png")
            .logo-s: img(src="../img/logo-s.png")
            .logo-t1: img(src="../img/logo-t1.png")
            .logo-t2: img(src="../img/logo-t2.png")
          - for(var i=3;i<=6;i++)
            div(class="logo-t#{i} hide"): img(src="../img/logo-t#{i}.png")
          .line.hide
        .txt1.hide: img(src="../img/txt1.png")
        .ball: img(src="../img/ball1.png")
        .btn.hide: img(src="../img/btn1.png")

      //- p2
      .page#p2
        .bg: img(src="../img/bg.jpg")
        .tit: img(src="../img/txt2.png")
        .map#map-10-china

      //- p3
      .page#p3
        .bg: img(src="../img/bg.jpg")



    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../js/main.min.js")
    script.
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?aabdb5be496ac39cd5648fd9aced5a6c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();