doctype html
head
  meta(charset='utf-8')
  meta(content='yes', name='apple-mobile-web-app-capable')
  meta(content='yes', name='apple-touch-fullscreen')
  meta(content='telephone=no,email=no', name='format-detection')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no')
  meta(name='keywords', content='')
  meta(name='description', content='')
  title 2015 Osports全新升级
  script(src="../bower_components/PACE/pace.min.js")
  link(rel='stylesheet', type='text/css', href='../css/main.css')
body

  #wrap.hide.animated

    //- page0
    .page#p0
      .bg.none.animated
      .content
        .bg.none.animated
        .plus.none.animated: img(src="../img/+.png")
        .logo.none.animated: img(src="../img/00/logo.png")
        .txt.none.animated: img(src="../img/00/txt0.png")
      .arr-up.none.animated: img(src="../img/up.png")

    //- page1
    .page#p1
      .bg.animated
      .title.animated
        h1: img(src="../img/01/title.png")
        small: img(src="../img/01/title-sub.png")
      .con
        ul.timeline
          - for(var i=1;i<=10;i++)
            li.animated.none
              dl
                dt.animated: img(src="../img/01/c#{i}-1.png")
                dd.animated: img(src="../img/01/c#{i}-2.png")
      .arr-up.animated: img(src="../img/up.png")

  script(src="../bower_components/jquery/dist/jquery.min.js")
  script(src="../bower_components/pageSwitch/src/pageSwitch.js")
  script(src="../bower_components/OwlCarousel/owl-carousel/owl.carousel.min.js")
  script(src="../js/main.js")