doctype html
head
  meta(charset='utf-8')
  meta(content='yes', name='apple-mobile-web-app-capable')
  meta(content='yes', name='apple-touch-fullscreen')
  meta(content='telephone=no,email=no', name='format-detection')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no')
  meta(name='keywords', content='')
  meta(name='description', content='')
  title 2015 Osports全新升级
  script(src="../bower_components/PACE/pace.min.js")
  link(rel='stylesheet', type='text/css', href='../css/main.css')
body

  #wrap.hide

    //- page0
    .page#p0
      .bg.none
      .con
        .bg.none
        .plus.none: img(src="../img/+.png")
        .logo.none: img(src="../img/00/logo.png")
        .txt.none: img(src="../img/00/txt0.png")
      .arr-up.none: img(src="../img/up.png")

    //- page1
    .page#p1
      .tmp

  script(src="../bower_components/jquery/dist/jquery.min.js")
  script(src="../bower_components/pageSwitch/src/pageSwitch.js")
  script(src="../js/main.js")